<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--P(属性: properties)命名空间 , 属性依然要设置set方法-->
    <bean id="user" class="com.liwenli.pojo.User" p:name="李文利" p:age="18"/>

    <!--C(构造: Constructor)命名空间 , 属性依然要设置set方法-->
<!--    发现问题：爆红了，刚才我们没有写有参构造！-->
    <bean id="user2" class="com.liwenli.pojo.User" c:name="李文利" c:age="18"/>

</beans>